<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   viewMap.plist
   IOSAPPFramework

   Created by 吴华林(平安好房技术中心产品研发部IOS研发团队) on 16/6/7.
   Copyright (c) 2016年 吴华林(平安好房技术中心产品研发部IOS研发团队). All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
